<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
  <style>
    *::-webkit-scrollbar {
      width: 1em;
    }

    *::-webkit-scrollbar-track {
      border: solid 3px var(--mui-palette-background-default);
      border-radius: 10px;
    }

    *::-webkit-scrollbar-thumb {
      background-color: var(--mui-palette-primary-main);
      border: solid 3px var(--mui-palette-background-default);
      border-radius: 10px;
    }
  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>